---
import PartnersMap from '@/components/PartnersMap_';
import { CarouselHomePartners } from "@/components/ui/carouselHomePartners";

const georgiaPartnersImage = "/georgia-map-partners.png";

///this component was created to possible load a different image for the partners map depending on the device size (mobile or desktop)
---
<div>
    <h2 class="text-4xl font-semibold text-center text-gray-800 tracking-wide leading-relaxed">
        Meet our partners
    </h2>
    <PartnersMap client:visible georgiaPartnersImage={georgiaPartnersImage}/>
    <div class="flex items-center justify-center p-4 mb-8">
        <CarouselHomePartners client:visible/>
    </div>
</div>